* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 53px;
  padding-bottom: 57px;
}
.header__left {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding-left: 4px;
}
.header__left__logo-text {
  color: #292F36;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
  font-family: DM Serif Display;
}
.header__right {
  display: flex;
  gap: 30px;
  padding-right: 4px;
}
.header__menu {
  color: #292F36;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
}

.banner {
  position: relative;
  max-width: 1201px;
  height: 758px;
}
.banner__info {
  position: absolute;
  padding: 208px 0 208px 53px;
  width: 434px;
}
.banner__heading {
  color: #292F36;
  font-size: 65px;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 81.25px;
  word-wrap: break-word;
}
.banner__text {
  width: 433px;
  color: #4D5053;
  font-size: 22px;
  font-family: Jost;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
  word-wrap: break-word;
  padding: 18px 0 21px;
}
.banner__img {
  background: #F4F0EC;
  border-radius: 70px;
  width: 100%;
}
.banner__button {
  display: flex;
  padding: 26px 49px 26px 48px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.36px;
}

.project__heading {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: 1px;
  padding-top: 96px;
  padding-bottom: 8px;
}
.project__text {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
  padding-bottom: 93px;
}
.project__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 56px;
  -moz-column-gap: 104px;
       column-gap: 104px;
}
.project__item {
  display: flex;
  flex-direction: column;
  width: 548px;
  align-items: flex-start;
  gap: 24px;
}
.project__item__img {
  background: #C4C4C4;
  width: 100%;
  height: 548px;
}
.project__item__img-top-right {
  border-radius: 0px 80px 0px 0px;
}
.project__item__img-top-left {
  border-radius: 80px 0px 0px 0px;
}
.project__item__img-bottom-right {
  border-radius: 0px 0px 80px 0px;
}
.project__item__img-bottom-left {
  border-radius: 0px 0px 0px 80px;
}
.project__item__content-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.project__item__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.5px;
}
.project__item__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
}/*# sourceMappingURL=style.css.map */