* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 44px;
}
.header__left {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding-left: 4px;
}
.header__left__logo-text {
  color: #292F36;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
  font-family: DM Serif Display;
}
.header__right {
  display: flex;
  gap: 30px;
  padding-right: 4px;
}
.header__menu {
  color: #292F36;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
}

.banner {
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  background-image: url(img/bannerPhoto.png);
  background-size: cover;
  background-position: center;
  height: 351px;
}

.news-articles {
  padding-top: 200px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: row;
  gap: 52px;
}
.news-articles__blog-conteiner {
  width: 799px;
  display: flex;
  row-gap: 150px;
  flex-direction: column;
}
.news-articles__blog__heading {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.news-articles__blog__img {
  width: 799px;
  height: 539px;
  background: #C4C4C4;
  border-radius: 50px;
}
.news-articles__blog__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
  padding-bottom: 24px;
}
.news-articles__blog__text-last {
  padding-top: 35px;
  padding-bottom: 0px;
}
.news-articles__blog__text-num {
  color: #CDA274;
  font-family: DM Serif Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 25px */
  letter-spacing: 0.4px;
}
.news-articles__blog__quotes {
  border-radius: 50px;
  background: #F4F0EC;
  display: flex;
  padding: 53px 227px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.news-articles__blog__nav {
  display: flex;
  flex-direction: row;
  gap: 409px;
  padding-top: 46px;
  padding-bottom: 48px;
}
.news-articles__blog__nav__a:not(:last-child)::after {
  content: "/";
  padding: 0 8px;
  color: #636363;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}
.news-articles__blog__numbered-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 11px;
  width: 732px;
}
.news-articles__blog__quotes {
  margin: 10px 0 27px;
}
.news-articles__blog__quotes-content {
  text-align: center;
}
.news-articles__blog__quotes-content p {
  color: #CDA274;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.5px;
}
.news-articles__sidebar {
  display: flex;
  width: 345px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.news-articles__sidebar__heading {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.5px;
}
.news-articles__sidebar__btn-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.news-articles__sidebar__btn {
  border-radius: 10px;
  background-color: #F4F0EC;
  padding: 9px 30px;
  transition: background-color 0.3s ease-in-out;
}
.news-articles__sidebar__btn:active {
  border-radius: 10px;
  background-color: #292F36;
  color: #FFF;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  margin-bottom: 116px;
}
.footer__left__text {
  width: 393px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
  padding: 18px 0 32px;
}
.footer__left__icons {
  display: flex;
  gap: 54px;
}
.footer__center {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__center__heading {
  color: #292F36;
  font-size: 25px;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 31.25px;
  word-wrap: break-word;
}
.footer__center__link-wrap {
  display: flex;
  flex-direction: column;
}
.footer__center__link {
  color: #4D5053;
  font-size: 22px;
  font-family: Jost;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.22px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 258px;
}
.footer__right__heading {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
}
.footer__right__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
}/*# sourceMappingURL=style.css.map */