@import "vars";

* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - $siteWidth / 2);
    padding-right: calc(50% - $siteWidth / 2);
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 44px;

    &__left {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        padding-left: 4px;

        &__logo-text {
            color: $siteColorHeading;
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
            word-wrap: break-word;
            font-family: DM Serif Display;
        }
    }

    &__right {
        display: flex;
        gap: 30px;
        padding-right: 4px;
    }

    &__menu {
        color: $siteColorHeading;
        text-align: center;
        font-family: Jost;
        font-size: 20px;
        line-height: 25px;
        font-style: normal;
        font-weight: 400;
    }
}

.banner {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background-image: url(img/bannerPhoto.png);
    background-size: cover;
    background-position: center;
    height: 351px;

}



.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-items: center;
    margin-bottom: 116px;

    &__left__text {
        width: 393px;
        color: $siteColorText;
        font-family: Jost;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.22px;
        padding: 18px 0 32px;
    }

    &__left__icons {
        display: flex;
        gap: 54px;
    }

    &__center {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__heading {
            color: $siteColorHeading;
            font-size: 25px;
            font-family: DM Serif Display;
            font-weight: 400;
            line-height: 31.25px;
            word-wrap: break-word
        }

        &__link-wrap {
            display: flex;
            flex-direction: column;
        }

        &__link {
            color: $siteColorText;
            font-size: 22px;
            font-family: Jost;
            font-weight: 400;
            line-height: 66px;
            letter-spacing: 0.22px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 26px;
        width: 258px;
    }

    &__right__heading {
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 31.25px */
    }

    &__right__text {
        color: #4D5053;
        font-family: Jost;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.22px;
    }
}