@import "vars";

* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - $siteWidth / 2);
    padding-right: calc(50% - $siteWidth / 2);
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 44px;

    &__left {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        padding-left: 4px;

        &__logo-text {
            color: $siteColorHeading;
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
            word-wrap: break-word;
            font-family: DM Serif Display;
        }
    }

    &__right {
        display: flex;
        gap: 30px;
        padding-right: 4px;
    }

    &__menu {
        color: $siteColorHeading;
        text-align: center;
        font-family: Jost;
        font-size: 20px;
        line-height: 25px;
        font-style: normal;
        font-weight: 400;
    }
}

.banner {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background-image: url(img/bannerPhoto.png);
    background-size: cover;
    background-position: center;
    height: 351px;

}

.news-articles {
    padding-top: 200px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: row;
    gap: 52px;

    &__blog-conteiner {
        width: 799px;
        display: flex;
        row-gap: 150px;
        flex-direction: column;
    }

    &__blog {

        &__heading {
            color: $siteColorHeading;
            font-family: DM Serif Display;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 62.5px;
            letter-spacing: 1px;
            padding-bottom: 20px;
        }

        &__img {
            width: 799px;
            height: 539px;
            background: #C4C4C4;
            border-radius: 50px
        }

        &__text {
            color: $siteColorText;
            font-family: Jost;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.22px;
            padding-bottom: 24px;

            &-last {
                padding-top: 35px;
                padding-bottom: 0px;
            }

            &-num {
                color: $siteColor;
                font-family: DM Serif Display;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%;
                /* 25px */
                letter-spacing: 0.4px;
            }
        }

        &__quotes {
            border-radius: 50px;
            background: #F4F0EC;
            display: flex;
            padding: 53px 227px;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        &__nav {
            display: flex;
            flex-direction: row;
            gap: 409px;
            padding-top: 46px;
            padding-bottom: 48px;

            &__a:not(:last-child)::after {
                content: "/";
                padding: 0 8px;
                color: #636363;
                font-size: 14px;
                line-height: 17px;
                font-weight: 300;
                font-style: normal;
            }
        }

        &__numbered-text {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 11px;
            width: 732px;
        }

        &__quotes {
            margin: 10px 0 27px;

            &-content {
                text-align: center;

                & p {
                    color: $siteColor;
                    font-family: DM Serif Display;
                    font-size: 25px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 31.25px;
                    letter-spacing: 0.5px;
                }
            }
        }
    }

    &__sidebar {
        display: flex;
        width: 345px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        &__heading {
            color: $siteColorHeading;
            font-family: DM Serif Display;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 31.25px;
            letter-spacing: 0.5px;
        }

        &__btn-wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
        }

        &__btn {
            border-radius: 10px;
            background-color: #F4F0EC;
            padding: 9px 30px;
            transition: background-color 0.3s ease-in-out;

            // &:hover {
            //     border-radius: 10px;
            //     background-color: $siteColorHeading;
            //     color: #FFF;
            // }
            &:active {
                border-radius: 10px;
                background-color: $siteColorHeading;
                color: #FFF;
            }
        }

    }
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-items: center;
    margin-bottom: 116px;

    &__left__text {
        width: 393px;
        color: $siteColorText;
        font-family: Jost;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.22px;
        padding: 18px 0 32px;
    }

    &__left__icons {
        display: flex;
        gap: 54px;
    }

    &__center {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__heading {
            color: $siteColorHeading;
            font-size: 25px;
            font-family: DM Serif Display;
            font-weight: 400;
            line-height: 31.25px;
            word-wrap: break-word
        }

        &__link-wrap {
            display: flex;
            flex-direction: column;
        }

        &__link {
            color: $siteColorText;
            font-size: 22px;
            font-family: Jost;
            font-weight: 400;
            line-height: 66px;
            letter-spacing: 0.22px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 26px;
        width: 258px;
    }

    &__right__heading {
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 31.25px */
    }

    &__right__text {
        color: #4D5053;
        font-family: Jost;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.22px;
    }
}